<template>
  <div id="app">
      <v-app>
          <v-toolbar app fixed clipped-left tabs>
              <v-toolbar-side-icon></v-toolbar-side-icon>
              <v-toolbar-title>PsManager</v-toolbar-title>
          </v-toolbar>
          <v-content>
	          <v-container fluid>
		          <v-layout align-center justify-center>
			          <PsTable></PsTable>
		          </v-layout>
	          </v-container>
          </v-content>
          <v-footer app></v-footer>
      </v-app>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import PsTable from "./components/PsTable.vue";

@Component({
	components: {
		PsTable,
	},
})
export default class App extends Vue {}
</script>

<style lang="scss">
    #app {
        font-family: "Avenir", Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
        margin-top: 60px;
    }
    @font-face {
        font-family: "Material Icons";
        font-style: normal;
        font-weight: 400;
        src: url(./assets/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2) format("woff2");
    }

    .material-icons {
        font-family: "Material Icons";
        font-weight: normal;
        font-style: normal;
        font-size: 24px;
        line-height: 1;
        letter-spacing: normal;
        text-transform: none;
        display: inline-block;
        white-space: nowrap;
        word-wrap: normal;
        direction: ltr;
        -webkit-font-feature-settings: "liga";
        -webkit-font-smoothing: antialiased;
    }
</style>
