<!--suppress ALL -->
<template>
	<div class="PsTable">
		<v-card>
			<v-card-title>
				Processes
				<v-spacer></v-spacer>
				<v-text-field
						v-model="Search"
						append-icon="search"
						label="Search"
						single-line
						hide-details
				></v-text-field>
			</v-card-title>
			<v-data-table
					:headers="Headers"
					:items="Data" :search="Search">
				<template slot="items" slot-scope="props">
					<td>{{ props.item.Name }}</td>
					<td class="text-xs-right">{{ props.item.Pid }}</td>
					<td class="text-xs-right">{{ props.item.Cpu }}</td>
					<td class="text-xs-right">{{ props.item.Mem }}</td>
					<td class="justify-center layout px-0">
						<v-btn fab dark small color="grey" @click="deleteItem(props.item.Pid)">
							<v-icon small>close</v-icon>
						</v-btn>
					</td>
				</template>
			</v-data-table>
		</v-card>
	</div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import VDataTable from "vuetify/src/components/VDataTable/VDataTable";
@Component({
	components: {VDataTable},
})
export default class PsTable extends Vue {
	public Search = "";
	public Headers = [
		{
			text: "Name",
			align: "center",
			sortable: true,
			value: "Name",
		},
		{
			text: "PID",
			align: "center",
			sortable: true,
			value: "Pid",
		},
		{
			text: "CPU(%)",
			align: "center",
			sortable: true,
			value: "Cpu",
		},
		{
			text: "Mem(mb)",
			align: "center",
			sortable: true,
			value: "Mem",
		},
		{
			text: "Terminate",
			align: "center",
			sortable: false,
		},
	];
	public Data = [
		{
			Name: "",
			Pid: 0,
			Cpu: 0,
			Mem: 0,
		},
	];
	public getPsStateSocket;
	public terminateSocket;
	public mounted() {
		this.getPsStateSocket = new WebSocket("ws://localhost:9000/getPsState");
		this.getPsStateSocket.onerror = (err) => {console.log(err); };
		this.getPsStateSocket.onopen = () => {console.log("connected"); };
		this.getPsStateSocket.onmessage = this.getPsStatus;
		this.terminateSocket = new WebSocket("ws://localhost:9000/terminate");
		this.terminateSocket.onerror = (err) => {console.log(err); };
		this.terminateSocket.onopen = () => {console.log("connected"); };
	}

	public getPsStatus(event) {
		const psStatResp = JSON.parse(event.data);
		if (psStatResp.Err.length === 0) {
			this.Data = psStatResp.Data;
		}
	}
	public deleteItem(pid) {
		this.terminateSocket.send(pid);
	}
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
	.PsTable{
		width: 50%;
	}
</style>
